// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @import '../../vendor/phpunit/php-code-coverage/src/Report/Html/Renderer/Template/css/bootstrap.min.css';
a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
    overflow: scroll;
    display: flex;
}

.channels{
    li {
        white-space: nowrap;
        cursor: pointer;
        margin: 0 4px;
    }
    .channel_section_achtive{
        border-bottom: 0.2rem solid #000000;
    }
    .channel_section_passive{
        border-bottom: 0.2rem solid none;
    }
}

