// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @import '../../vendor/phpunit/php-code-coverage/src/Report/Html/Renderer/Template/css/bootstrap.min.css';
// html { font-size: 62.5%; }

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
    overflow: scroll;
    display: flex;
}


.top_wrap{
    //height: 1000px;
    overflow: scroll;
}
#search_wrap {
    #search_megane{
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.channels{
    border-bottom: 0.1rem solid #C5C5C5;
    li {
        white-space: nowrap;
        cursor: pointer;
        margin: 0 10px;
    }
    .channel_section_achtive{
        border-bottom: 0.2rem solid #000000;
    }
    .channel_section_passive{
        border-bottom: 0.2rem solid none;
    }
}

.top_items{
    height: 100%;
    min-height: 100px;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding-left: 0rem;
    //overflow: hidden;
    // デバイス共通の処理
    .top_item{
        border-bottom: 0.2rem solid #000000;
        width: 100%;
        .title_name{
            text-align: center;
            .link-name{
                font-weight:bold; 
            }
        }
        .common_message{
            padding: 5px;
            line-height: 24px;
            margin:0px;
        }
        .click-btn{
            // ボカしを設定する黒〜白
            box-shadow: 0 -18px 13px -3px rgba(0,0,0,0.8);
        }
        .click-btn-status{
            background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
            color: #C5C5C5;
            cursor: pointer;
        }
        .readmore-btn{
            display: none;
        }
        margin-bottom: 20px;
        a {
            display: block;
            text-align: center;
            // border-bottom: 0.2rem solid #000000;
        }
        img {
            display: block;
            height: 400px;
            width: 400px;
            margin:auto;
        }
        .kakutyo{
            background: red;
        }
        
    }
    // PCのレイアウト
    @include pc{
        .top_item {
            display: flex;
            img{
                height: 400px;
                width: 400px;
            }
        }
    }
    // スマホのレイアウト
    @include sp {
        //height: 90px;
        .top_item{
            img{
                width:300px;
                height: 300px;
            };
        };
    };
}


// ステータス
.under_line{
    border-bottom: 0.2rem solid #000000;
}
.delete_line{
    border-bottom: 0.2rem solid none;
}

.channelarea{
    position: absolute;
}

.loading-filter {
    height:100%;
    width:100%;
    //background-color:#ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-circle {
    // position: absolute;
    // content: "";
    margin: auto;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border-top: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
    border-right: 10px solid transparent;
    border-radius: 50%;
    background-color: #ffff;
    animation: spin 1s linear 0s infinite;
}

@keyframes spin{
    0%{
    transform: rotate(0deg);
    }
    25%{
    transform: rotate(90deg);
    }
    50%{
    transform: rotate(180deg);
    }
    75%{
    transform: rotate(270deg);
    }
    100%{
    transform: rotate(360deg);
    }
}
